
<div class="hero career_banner" style="height: 27rem;">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div>
      <h1 class="mb-5 text-5xl font-bold">Start a career with Us</h1>
    </div>
  </div>
</div>


<%= form_for @contact do |f| %>

<!-- ====== Contact Section Start -->
   <section class="bg-white py-20 lg:py-[120px] overflow-hidden relative z-10 px-8">
      <div class="container">
         <div class="flex flex-wrap lg:justify-between -mx-4">
            <div class="w-full lg:w-1/2 xl:w-6/12 px-4">
               <div class="mb-12 lg:mb-0">
                  <h2
                     class="
                     text-dark
                     mb-6
                     uppercase
                     font-bold
                     text-[32px]
                     sm:text-[40px]
                     lg:text-[36px]
                     xl:text-[40px]
                     "
                     >
                     A MODERN WORK PLACE
                  </h2>
                  <div class="flex mb-8 w-full">
                     <div>
                        <%= image_tag "Career-page/LEFT-SIDE-IMAGE.jpg" %>
                     </div>

                  </div>

               </div>
            </div>
            <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
               <div class="bg-white relative rounded-lg p-8 sm:p-12 shadow-lg">
                  <%= form_for @contact do |f| %>
                     <div class="mb-6">
                        <h4 class="block mb-4 text-base text-primary-600 font-semibold">
                          Start a career with Us
                        </h4>
                        <%= f.text_field  :name, required: true, class:"w-full
                           rounded
                           py-3
                           px-[14px]
                           text-body-color text-base
                           border border-[f0f0f0]
                           outline-none
                           focus-visible:shadow-none
                           focus:border-indigo-600",placeholder: "Full Name" %>
                     </div>
                     <div class="mb-6">
                        <%= f.text_field :email, required: true, class: "w-full
                           rounded
                           py-3
                           px-[14px]
                           text-body-color text-base
                           border border-[f0f0f0]
                           outline-none
                           focus-visible:shadow-none
                           focus:border-indigo-600", placeholder:"your@email.com" %>
                     </div>
                     <div class="mb-6">
                        <%= f.text_field :phone, required: true, class: "w-full
                           rounded
                           py-3
                           px-[14px]
                           text-body-color text-base
                           border border-[f0f0f0]
                           outline-none
                           focus-visible:shadow-none
                           focus:border-indigo-600", placeholder:"Your Phone" %>
                     </div>
                     <div class="mb-6">
                        <%= f.select :phone, ["LOGISTICS","CREATIVE TEAM","E-COMMERCE ","FACTORY TEAM","HUMAN RESOURCES","ACCOUNTING","LEGAL","ADMINISTRATOR","SALES ","MARKETING","PHOTOGRAPHER","VIDEOGRAPHER"],{:prompt => "Choose Job Opening"},{class: "w-full
                           rounded
                           py-3
                           px-[14px]
                           text-body-color text-base
                           border border-[f0f0f0]
                           outline-none
                           focus-visible:shadow-none
                           focus:border-indigo-600"} %>

                     </div>
                     <div class="mb-6">
                        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: " w-full
                           rounded
                           py-3
                           px-[14px]
                           text-body-color text-base
                           border border-[f0f0f0]
                           resize-none
                           outline-none
                           focus-visible:shadow-none
                           focus:border-indigo-600",
                           placeholder: "Send me a message"%>
                     </div>
                     <div class= "d-none">
                        <%= f.text_field :nickname, :hint => 'Leave this field blank!', style: 'display:none' %>
                     </div>
                     <div>
                        <%= f.submit 'Submit', class: 'w-full
                           text-white
                           bg-indigo-700
                           rounded
                           border border-primary
                           p-3
                           transition
                           hover:bg-opacity-90' %>
                     </div>
                  <% end %>

               </div>
            </div>
         </div>
      </div>
   </section>
<% end %>
