<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        Women's Footwear and luxury bags Collaborations
      </h2>

      <div class="mt-4 md:mt-8">
        <a href="#" class="inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400" style="background-color: black;">
          Want to Collab with us?
        </a>
      </div>
    </div>
  </div>
  <div>
    <%= image_tag "Collab-page/IMAGE-UPPER-1.jpg",:class=>"",:style=>"max-height: 500px; object-fit: contain; float:left; margin: 0 15px;" %>
    <%= image_tag "Collab-page/IMAGE-UPPER-2.jpg",:class=>"",:style=>"max-height: 500px; object-fit: contain;" %>
  </div>
</section>

<section class="overflow-hidden bg-white sm:grid sm:grid-cols-2 p-5 mt-10">
  <div style="padding-left: 100px;">
    <%= image_tag "Collab-page/IMAGE-LOWER-1.jpg", :class=>"object-cover",:style=>"max-height: 500px; float:left;margin: 0 15px;" %>
    <%= image_tag "Collab-page/IMAGE-LOWER-2.jpg", :class=>"object-cover",:style=>"max-height: 500px" %>
  </div>

  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h4 class="font-bold text-3xl mb-4 text-neutral-800">Auzmena Influencers & Collaborations Program</h4>

      <div class="mt-4 md:mt-8">
        <p class="mb-6 text-neutral-800">
         White Noise The Label collaborates with influencers to create their own signature collection under the brand name based on their personal preference, style and unique approach. These products are then promoted by the influencers on their social media platforms, showcasing their unique style for followers to purchase directly from our online platform.

        </p>
      </div>
    </div>
  </div>
</section>

<%= render "layouts/services"%>
