<section class="overflow-hidden h-500 wnx-banner bg-cover bg-center bg-no-repeat">
  <div class="bg-black/25 p-8 md:p-12 lg:px-16 lg:py-24 banner_paddding">
    <div class="max-w-lg text-center sm:text-left">
      <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">
        WHITE NOISE EXCLUSIVE
      </h2>

      <p
        class="max-w-md text-white/90 md:mt-6 md:block md:text-lg md:leading-relaxed"
      >
        Women's Heels and Bags
      </p>

      <div class="mt-4 sm:mt-8">
        <a
          href="https://www.whitenoisethelabel.com/"
          class="inline-flex items-center rounded-full bg-black px-8 py-3 text-white shadow-lg transition focus:outline-none focus:ring"
        >
          <span class="text-sm font-medium"> Order Now </span>

          <svg
            class="ml-3 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="text-center">

      <div style="text-align: -webkit-center; "> <%= image_tag "WN_X/LOGO-03.png",:style=>"max-width: 300px;" %> </div>
      <br>
      <h2 class="text-lg font-bold">Our Products</h2>

      <p class="text-2xl font-medium text-fuchsia-600">
        Handmade with love
      </p>
    </div>

    <div class="swiper mt-8" style="background-color:white;">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <a href="https://www.whitenoisethelabel.com/collections/all" class="block">
            <div>
              <p class="text-xs text-fuchsia-500">WNX</p>

              <h3 class="font-bold">Women Fashion</h3>
            </div>

            <%= image_tag "WN_X/PRODUCT_1.jpg", :class=>"aspect-[3/4] w-full object-cover" %>


          </a>
        </div>

        <div class="swiper-slide">
          <a href="https://www.whitenoisethelabel.com/collections/all" class="block">
            <div>
              <p class="text-xs text-fuchsia-500">WNX</p>

              <h3 class="font-bold">Women Fashion</h3>
            </div>

            <%= image_tag "WN_X/PRODUCT_4.jpg", :class=>"aspect-[3/4] w-full object-cover" %>


          </a>
        </div>

        <div class="swiper-slide">
          <a href="https://www.whitenoisethelabel.com/collections/all" class="block">
            <div>
              <p class="text-xs text-fuchsia-500">WNX</p>

              <h3 class="font-bold">Women Fashion</h3>
            </div>

            <%= image_tag "WN_X/PRODUCT_3.jpg", :class=>"aspect-[3/4] w-full object-cover" %>


          </a>
        </div>

        <div class="swiper-slide">
          <a href="https://www.whitenoisethelabel.com/collections/all" class="block">
            <div>
              <p class="text-xs text-fuchsia-500">WNX</p>

              <h3 class="font-bold">Women Fashion</h3>
            </div>

            <%= image_tag "wnx/5.jpeg", :class=>"aspect-[3/4] w-full object-cover" %>
          </a>
        </div>
      </div>

      <div class="swiper-pagination !relative !bottom-0 mt-12"></div>
    </div>
  </div>
</section>

<script>
  new Swiper('.swiper', {
    loop: true,
    spaceBetween: 32,
    slidesPerView: 1,
    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 4,
      },
    },
  })
</script>
