 <nav class="navbar bg-white">
     <!-- LOGO -->
     <%= link_to "Auzmena", root_path, class:"logo"%>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
       <li class="hover-underline-animation"><%= link_to "Our Services", services_url %></li>
         <li class="hover-underline-animation"><%= link_to "About Us", about_url %></li>
         <li class="hover-underline-animation"><%= link_to "Our Brands", brands_url %></li>
         <li class="hover-underline-animation"><%= link_to "Contact", new_contact_url %></li>
       </div>
     </ul>
   </nav>
